.image-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    grid-gap: 30px 30px;
}
.image-container img{
    height:200px;
    width: 200px;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.image-container .div-img:hover .extra-text{
     z-index: 2;
     position: absolute;
     display: block;
     
}

@media only screen and (max-width: 890px)  {
    .image-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 5px;
        grid-gap: 10px 10px;
    }
    .image-container img{
        height:150px;
        width: 150px;
    }
    .image-container .div-img:hover .extra-text{
        display: block;
   }  
}

@media only screen and (max-width: 600px) {
    .image-container{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 5px;
        grid-gap: 5px 5px;
    }
    .image-container img{
        height:100px;
        width: 100px;
    }
    .image-container .div-img:hover .extra-text{
        display: block;
   }  
}